.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

}
#landing {
  height: 100vh;
  width: 100vw;
  background: url("Images/GDR_4MP.jpg");
  background-color: white;
  background-size: cover;
  background-position: center;
}
.row {
  width: 99vw;
  height: 100vh;
}
  
#aboutJump {
  background-color: sandybrown;
}
#contactJump {
  background-color: burlywood;
}
.left:hover{
  font-weight: bold;
  font-size: 20px;
}
.left{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.right:hover{
  font-weight: bold;
  font-size: 20px;
}
.right{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  float: right;
}
.a-1{
  font-size: 1px;
  text-align: center;
}
.c-1{
  font-size: 1px;
  text-align: center;
}